<div class="deck-build-stepper">
  <mat-vertical-stepper #stepper>
    <mat-step label="Character">
      <small>Choose your character</small>
    </mat-step>
    <mat-step label="Cards">
      <small>You can upgrade them and mark them important for your build</small>
    </mat-step>
    <mat-step label="Neutral cards">
      <small>You can upgrade them and mark them important for your build</small>
    </mat-step>
    <mat-step label="Relics">
      <small>You can mark them important for your build</small>
    </mat-step>
  </mat-vertical-stepper>
</div>