mat-card {
    text-align: center;
    padding: 15px 24px 24px 24px !important;
}

mat-card-header > div.mat-card-header-text {
    margin: 0 auto ;
}

mat-card-content > p {
    vertical-align: middle;
}

mat-card-content {
    min-height: 60px;
    display: flex !important;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 0 -10px !important;
}

.energy {
    width: 40px;
    height: 40px;
    background-image: url('/assets/images/standard/energy/energy.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -10px;
    left: -10px;
}

.energy > span {
    position: absolute;
    top: 13px;
    left: 14px;
    color: #424242;
    font-weight: 500;
}

.rare {
    color: gold;
}

.uncommon {
    color: rgb(132, 255, 248);
}