<mat-card [ngClass]="{'rare': card.rarity === 'Rare', 'uncommon': card.rarity === 'Uncommon'}">
  <mat-card-header>
    <div class="energy" *ngIf="card[version].energy" [ngClass]="{'green': version === 'upgraded' && card.upgraded.energy != card.base.energy }">
      <span>{{card[version].energy}}</span>
    </div>
    <mat-card-title [ngClass]="{'rare': card.rarity === 'Rare', 'uncommon': card.rarity === 'Uncommon'}">{{card.name}}<span *ngIf="upgrade"> +</span></mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="baseImgSrc + card.camelizeName + '.png'" [alt]="card.name">
  <mat-card-content>
    <p>
      {{card[version].description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="toggleUpgrade()"  color="accent"><span *ngIf="!upgrade">Upgrade</span><span *ngIf="upgrade">Downgrade</span></button>
  </mat-card-actions>
</mat-card>