<nav class="flex navbar-header dk-pink px2 py1">
  <div class="border-right-white">
    <button mat-button [matMenuTriggerFor]="menu">Deck</button>
    <mat-menu #menu="matMenu">
      <a routerLink="/deck/builder" mat-menu-item>Build a new deck</a>
      <a routerLink="/deck/consult" mat-menu-item>Consult a Deck</a>
    </mat-menu>
    <!--<a mat-button routerLink="/deck">Deck</a>-->
  </div>
  <div class="flex-auto border-right-white"></div>
  <div class="border-right-white">
    <a mat-button routerLink="/ironclad">Ironclad</a>
    <a mat-button routerLink="/silent">Silent</a>
    <a mat-button routerLink="/neutral">Neutral</a>
  </div>
  <div>
    <a mat-button routerLink="/relics">Relics</a>
  </div>
</nav>
