<mat-card [ngClass]="{'rare': card.rarity === 'Rare', 'uncommon': card.rarity === 'Uncommon'}">
  <mat-card-header>
    <div class="energy" *ngIf="card.current.energy" [ngClass]="{'green': card.isUpgraded && card.upgraded.energy != card.base.energy }">
      <span>{{card.current.energy}}</span>
    </div>
    <mat-card-title [ngClass]="{'rare': card.rarity === 'Rare', 'uncommon': card.rarity === 'Uncommon'}">{{card.name}}<span *ngIf="upgrade"> +</span></mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="baseImgSrc + card.camelizeName + '.png'" [alt]="card.name">
  <mat-card-content>
    <p>
      {{card.current.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="card.toggleUpgrade()"  color="accent"><span *ngIf="!card.isUpgraded">Upgrade</span><span *ngIf="card.isUpgraded">Downgrade</span></button>
  </mat-card-actions>
</mat-card>