/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "~basscss/css/basscss.css";
@import "~normalize.css/normalize.css";

html, body, app-root {
    height:100%;
    display:flex;
    flex-direction:column;
    font-family: 'Roboto', sans-serif;
}

body > * {
    flex-shrink: 0;
}

app-root {
    position: absolute;
    top: 52px;
    bottom: 0;
    left: 0;
    right: 0;
}

h1, h2, h3, h4 {
    font-weight: 500;
}

.dk-pink {
    background: #e91e63;
    color: white;
}

.cursor-as-pointer {
    cursor: pointer;
}

.theme-title {
    background-color: #212121;
    border-bottom: 1px solid #e91e63;
}

.theme-title-small {
    border-bottom: 1px solid #e91e63;
}
