<mat-sidenav-container class="example-container">
  <mat-sidenav class="side-left" fixedInViewport="true" fixedTopGap="52" mode="side" opened="true">
    <app-deck-builder-stepper #stepper></app-deck-builder-stepper>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-deck-builder-content></app-deck-builder-content>
  </mat-sidenav-content>
  <mat-sidenav position="end" fixedInViewport="true" fixedTopGap="52" mode="side" opened="true">
    <app-deck-builder-current-deck></app-deck-builder-current-deck>
  </mat-sidenav>
</mat-sidenav-container>
