<div class="px2 deck-builder-current-deck">
  <h2 class="theme-title py1 text-center">Current Deck</h2>
  <div *ngIf="deckService.deck.characacter">
    <h3><span class="theme-title-small">Character</span></h3>
    <div class="character-img">
      <img class="img-responsive" [src]="'/assets/images/standard/characters/'+deckService.deck.characacter+'Button.png'" alt="">
    </div>
  </div>
  <!--<div>-->
    <!--<h3><span class="theme-title-small">Attacks</span></h3>-->
    <!--<div>yo</div>-->
  <!--</div>-->
  <!--<div>-->
    <!--<h3><span class="theme-title-small">Skills</span></h3>-->
    <!--<div>yo</div>-->
  <!--</div>-->
  <!--<div>-->
    <!--<h3><span class="theme-title-small">Powers</span></h3>-->
    <!--<div>yo</div>-->
  <!--</div>-->
  <!--<div>-->
    <!--<h3><span class="theme-title-small">Relics</span></h3>-->
    <!--<div>yo</div>-->
  <!--</div>-->
</div>
